<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 想法：hibernate==JDBC，sessionFactory==JDBC数据源，配置数据源 -->
	<session-factory>
		<!-- 指定方言，指定使用哪种数据库 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 配置数据库基本信息 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<!-- 配置数据表创建方式 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 配置sql，显示sql -->
		<property name="hibernate.show_sql">true</property>
		<!-- 配置sql，格式化sql -->
		<property name="hibernate.format_sql">true</property>
		<!-- 配置上下文session -->
		<property name="current_session_context_class">thread</property>
		<!-- 加入映射文件 -->
		<mapping resource="com/sram/beans/User.hbm.xml" />
	</session-factory>
</hibernate-configuration>